html {
  background-color: black;
  color: white;
}

#log {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  padding: 0.5rem;
  line-height: 0.75rem;
  font-size: 0.618rem;
}

.world {
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  min-height: 100vh;
}

.region {
  --size: 9.5;
  --unit: calc(100 / var(--size) * 1vmin);
  --perspective: 1px;
  --xPerspective: 0;
  --yPerspective: 1;
  --width: 3;
  --height: 3;
  position: relative;
  margin: calc(var(--unit) / 2) 0;
}

@media (min-aspect-ratio: 1/1) {
  .region {
    --unit: calc(100 / var(--size) * 0.854vmin);
  }
}

.statics {
  width: calc(var(--width) * var(--unit));
  /* height: calc(var(--height) * var(--unit)); */
  display: grid;
  grid: repeat(var(--height), var(--unit)) / repeat(var(--width), var(--unit));
}

.static,
.dynamic {
  --z: 0;
  --width: 1;
  --height: 1;
  width: calc(var(--width) * var(--unit));
  height: calc(var(--height) * var(--unit));
  z-index: calc(100 + var(--z));
  top: calc(var(--z) * var(--perspective) * var(--yPerspective) * -1);
  left: calc(var(--z) * var(--perspective) * var(--xPerspective) * -1);
}

.static {
  --x: 0;
  --y: 0;
  position: relative;
  grid-area: calc(var(--y) + 1) / calc(var(--x) + 1);
}

.static.not-visible {
  filter: brightness(0.764);
}

.dynamic {
  position: absolute;
  will-change: transform;
  pointer-events: none;
}

.tile-button {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 10px;
  outline: 1px solid rgba(255, 255, 255, 0.146);
}
