#root {
  height: 300vh;
}

.logoUI {
  position: fixed;
  right: 0;
  bottom: 0;
  background: grey;
  padding: 0.25rem;
}

.gameUI {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.25rem;
}

.playerUI {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  text-align: center;
}
