.logoUI {
  position: fixed;
  right: 0;
  bottom: 0;
  background: grey;
  padding: 0.25rem;
}

.gameUI {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.25rem;
}

.world {
  outline: 1px solid;
  height: calc(var(--worldLength) * var(--tileSize) * 1vmin);
}

.playerUI {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  text-align: center;
}

.tile {
  position: absolute;
  left: calc(var(--tileSize) * var(--x) * 1vw);
  top: calc(var(--tileSize) * var(--y) * 1vmin);
  width: calc(var(--tileSize) * 1vw);
  height: calc(var(--tileSize) * 1vmin);
  outline: 1px solid;
}

.unit {
  will-change: transform;
  background: grey;
  border-radius: 50%;
  transform: translate3d(
    calc(var(--tileSize) * var(--x) * 1vw),
    calc(var(--tileSize) * var(--y) * 1vmin),
    0
  );
  width: calc(var(--tileSize) * 1vw);
  height: calc(var(--tileSize) * 1vmin);
}
