.logoUI {
  position: fixed;
  right: 0;
  bottom: 0;
  background: grey;
  padding: 0.25rem;
}

.gameUI {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  padding: 0.25rem;
}

.playerUI {
  pointer-events: none;
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.manaBar {
  display: flex;
  justify-content: center;
  position: relative;
}

.reserveMana {
  position: absolute;
  right: 100%;
}

.currentMana {
  display: flex;
}

.mana {
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  transition: transform 262ms ease-out;
  transform: scale(0.764);
  color: transparent;
  text-align: center;
}

.mana.notFilled {
  background-color: grey;
  transform: scale(0.382);
}

.mana.current {
  color: black;
}

.manaRegen {
  position: absolute;
  left: calc(10% * var(--position));
  top: 0;
  outline: 1px solid skyblue;
  height: 100%;
  width: 10%;
}

@keyframes manaRegen {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.manaRegen.overloading {
  outline-color: red;
}

.world {
  position: relative;
  outline: 1px solid;
  height: calc(var(--worldLength) * var(--tileSize) * 1vmin);
}

.tile {
  position: absolute;
  left: calc(var(--tileSize) * var(--x) * 1vw);
  top: calc(var(--tileSize) * var(--y) * 1vmin);
  width: calc(var(--tileSize) * 1vw);
  height: calc(var(--tileSize) * 1vmin);
  outline: 1px solid;
}

.unit {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform;
  background: grey;
  border-radius: 50%;
  transform: translate3d(
    calc(var(--tileSize) * var(--x) * 1vw),
    calc(var(--tileSize) * var(--y) * 1vmin),
    0
  );
  width: calc(var(--tileSize) * 1vw);
  height: calc(var(--tileSize) * 1vmin);
}
